.mapPageContainer {
height: 100%;
width: 100%;

  section.map {
    height: 100%;
    width: 100%;  
  }

}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: none;

  .leaflet-popup-content {
    font-size: 1.5rem;
    font-weight: 600;
  }
}