.historyPageContainer {
  background: url('../../images/history/old-bg.jpg');

  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      margin-bottom: 100px;
    }

    h1 {
      font-family: Lobster, sans-serif;
      font-size: 3rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      font-size: 1.3rem;
      text-indent: 30px;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      div.portrait {
      display: flex;
      justify-content: space-evenly;
      }

      div.timeline {

        margin: 50px 0 50px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          width: 100%;
          margin-bottom: 100px;
          text-align: center;
          
          h2 {
            font-family: Pattaya, cursive;
            font-size: 3rem;
          }
          
          span {
            display: flex;
            align-items: center;
            border: 1px solid black;
            box-shadow: 0px 0px 5px black;
            
            width: 100%;
            height: 100%;
            margin-bottom: 50px;

            img {
              max-height: 600px;
            }

            p {
              line-height: 2rem;
            }
          }
        }
      }

      div.tokens {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          text-align: center;
        }
      }
      
      span {
        height: 200px;
        width: 300px;

        text-indent: 20px;
        font-size: 1.2rem;
      }
    }
  }
}

@media(min-width: 701px) {
  div.portrait {

    width: 70%;
    height: 318px;
  }

  div.timeline {

    div {
      height: 750px;
    }

    h2 {
      margin-bottom: -70px;
    }

    span {
      justify-content: space-around;

      img {
        width: 70%;
      }

      p {
        width: 20%;
      }
    }
  }
}
@media(max-width: 700px) {
  div.portrait {
    flex-direction: column;
    align-items: center;

    width: 100%;

    img {
      width: 100%;
    }

  }

  div.timeline {

    h2 {
      margin-bottom: 0;
    }

      span {
        flex-direction: column;
        justify-content: start;

        img {
          width: 99%;
        }

        p {
          width: 100%;
        }
      }
  }

  div.tokens {
    flex-direction: column;
  }
}