.container {
  box-shadow: 5px 5px 5px black;
  background: rgba(229, 231, 233, 0.87);

  .header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    nav.navbarContainer {
      width: 50%;
  
      ul {
        display: flex;
        justify-content: space-between;
  
        li {
          display: inline-block;
          padding: 20px;
          font-size: 1.2rem;
  
          a {
            text-decoration: none;
            color: #000;
            transition: color 0.2s;
          }
  
          a:link {
            text-decoration: none;
            color: #000;
          }
  
          a:hover {
            color: var(--red);
            text-decoration: underline;
          }
        }
      }
    }
  }
}