aside.sidebarContainer {
  width: 30%;
  background: #ed3232;

  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
      width: 80%;

      display:  flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

  
      h2 {
        color: var(--white);
      }
  
      select {
        width: 100%;
        padding: 5px;
  
        font-family: Inter, sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        text-align-last: center;
      }
  
      
    }

    button {
      width: 80%;
      padding: 15px;
      border-radius: 10px;

      font-size: 1.5rem;

      transition: background 0.2s;

      &:hover {
        background: rgba(88, 116, 156, 0.61);
      }
    }

    div.stops {
      height: 40%;
      width: 100%;

      overflow-y: scroll;
      background: #fff;

      h4 {
        margin: 20px 0 20px 10px;
        width: 100%;
        text-align: start;
      }

    }
  }
}

@media(max-width: 700px) {
  aside.sidebarContainer {

    main {

      button {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
